stages:
 - subpipeline
 - jobiterated

{% for s in subpipelines: %}

subpipeline {{ s + 1 }}:
  stage: subpipeline
  image: alpine
  script:
   - echo 'Hello from subpipeline {{ s + 1 }}!'

{% for i in iterations: %}

subpipeline {{ s + 1}} job {{ i + 1}}:
  stage: jobiterated
  image: alpine
  needs:
  {% if loop.first %}
    - subpipeline {{ s + 1 }}
  {% else %}
    - subpipeline {{ s + 1 }} job {{ i }}
  {% endif %}
  script:
   - echo "Hello from subpipeline {{ s + 1 }} job {{ i + 1 }}"

{% endfor %}
{% endfor %}